@font-face {
  font-family: "Discordinated";
  font-weight: normal;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/Lund1337/discord-font@main/DISCORDINATED.woff2") format("woff2");
  src: url("https://cdn.jsdelivr.net/gh/Lund1337/discord-font@main/DISCORDINATED.woff") format("woff");
}
