@font-face {
    font-family: 'Discordinated';
    src: url('https://github.com/Lund1337/discord-font/raw/main/DISCORDINATED.woff2') format('woff2'),
        url('https://github.com/Lund1337/discord-font/raw/main/DISCORDINATED.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}